.degree-element-wrapper {
    width:400px;
    height:250px;
    overflow:hidden;
    position:relative;
}

.degree-element-wrapper.absolute {
    position:absolute;
    left:0;
    top:0;
}
.degree-element {
    position:relative;
    width: 400px;
    height: 400px;
}

.degree-element .meter{
    width: 100%;
    height: 100%;
    -o-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}

.degree-element .pointer {
    background: #ddd;
    height: 0;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 0;
    transform-origin: 50% 100%;
    z-index:2;

    margin: -125px -8px 0;
    padding: 125px 8px 0;
    border-radius: 70% 70% 10px 10px;

    -o-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);

    -o-transition: transform .5s ease-in-out;
    -moz-transition: transform .5s ease-in-out;
    -ms-transition: transform .5s ease-in-out;
    -webkit-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
}
.degree-element-wrapper .meter-name {
    text-transform:uppercase;
    color:black;
    font-weight:900;
    position:absolute;
    bottom:0;
    font-size:2em;
    width:100%;
    text-align:center;
}

.degree-element[data-level="0"] .pointer {
    -o-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    transform:rotate(-90deg);
}
.degree-element[data-level="1"] .pointer {
    -o-transform:rotate(-75deg);
    -moz-transform:rotate(-75deg);
    -webkit-transform:rotate(-75deg);
    transform:rotate(-75deg);
}
.degree-element[data-level="2"] .pointer {
    -o-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);
}
.degree-element[data-level="3"] .pointer {
    -o-transform:rotate(-15deg);
    -moz-transform:rotate(-15deg);
    -webkit-transform:rotate(-15deg);
    transform:rotate(-15deg);
}
.degree-element[data-level="4"] .pointer {
    -o-transform:rotate(15deg);
    -moz-transform:rotate(15deg);
    -webkit-transform:rotate(15deg);
    transform:rotate(15deg);
}
.degree-element[data-level="5"] .pointer {
    -o-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
}
.degree-element[data-level="6"] .pointer {
    -o-transform:rotate(75deg);
    -moz-transform:rotate(75deg);
    -webkit-transform:rotate(75deg);
    transform:rotate(75deg);
}

.degree-element-wrapper.post-details {
    -o-transform: scale(.2);
    -moz-transform: scale(.2);
    -webkit-transform: scale(.2);
    transform: scale(.3);
    position: absolute;
    top: -86px;
    left: calc(50% - 219px);
}
.degree-element-wrapper.post-list {
    -o-transform:scale(.2);
    -moz-transform:scale(.2);
    -webkit-transform:scale(.2);
    transform:scale(.2);

    right: -158px;
    left: auto;
    bottom: -126px;
    position:absolute;
}

@media only screen and (max-width: 480px) {
    /* TODO LATER */
    .degree-element-wrapper.post-list {
        display:none;
    }

    .degree-element-wrapper.post-details{
        top: -94px;
        left: calc(50% - 211px);
        margin: 5px 0;
    }
}